In [34]:
import pandas as pd
df_adult = pd.read_csv("/content/adult baru.csv")
df_adult.head(3)

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K

[3 rows x 15 columns]

In [36]:
data = df_adult['native-country']
data = pd.get_dummies(data)
data.head(3)

   ?  Cambodia  Canada  ...  United-States  Vietnam  Yugoslavia
0  0         0       0  ...              1        0           0
1  0         0       0  ...              1        0           0
2  0         0       0  ...              1        0           0

[3 rows x 42 columns]

In [37]:
for a in df_adult.index:
  c=0
  for b in data.columns:
    if df_adult.loc[a , 'native-country'] == b :
      df_adult.loc[a , 'native-country'] = c
    c+=1

In [13]:
df_adult.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40              39  <=50K
1   38    Private   89814  ...             50              39  <=50K
2   28  Local-gov  336951  ...             40              39   >50K
3   44    Private  160323  ...             40              39   >50K
4   18          ?  103497  ...             30              39  <=50K

[5 rows x 15 columns]

In [11]:
for a in df_adult.index:
  if df_adult.loc[a , 'race'] == 'Amer-Indian-Eskimo' :
    df_adult.loc[a , 'race'] = 0
  elif df_adult.loc[a , 'race'] == 'Asian-Pac-Islander' :
    df_adult.loc[a , 'race'] = 1
  elif df_adult.loc[a , 'race'] == 'Black' :
    df_adult.loc[a , 'race'] = 2
  elif df_adult.loc[a , 'race'] == 'Other' :
    df_adult.loc[a , 'race'] = 3
  elif df_adult.loc[a , 'race'] == 'White' :
    df_adult.loc[a , 'race'] = 4
  elif df_adult.loc[a , 'race'] == '?' :
    df_adult.loc[a , 'race'] = 5

In [39]:
for a in df_adult.index:
  if df_adult.loc[a , 'education'] == '10th' :
     df_adult.loc[a , 'education'] = 0
  elif df_adult.loc[a , 'education'] == '11th' :
       df_adult.loc[a , 'education'] = 1
  elif df_adult.loc[a , 'education'] == '12th' :
       df_adult.loc[a , 'education'] = 2
  elif df_adult.loc[a , 'education'] == '1st-4th' :
       df_adult.loc[a , 'education'] = 3
  elif df_adult.loc[a , 'education'] == '5th-6th' :
       df_adult.loc[a , 'education'] = 4
  elif df_adult.loc[a , 'education'] == '7th-8th' :
       df_adult.loc[a , 'education'] = 5
  elif df_adult.loc[a , 'education'] == '9th' :
    df_adult.loc[a , 'education'] = 6
  elif df_adult.loc[a , 'education'] == 'Assoc-acdm' :
       df_adult.loc[a , 'education'] = 7
  elif df_adult.loc[a , 'education'] == 'Assoc-voc' :
       df_adult.loc[a , 'education'] = 8
  elif df_adult.loc[a , 'education'] == 'Bachelors' :
       df_adult.loc[a , 'education'] = 9
  elif df_adult.loc[a , 'education'] == 'Doctorate' :
       df_adult.loc[a , 'education'] = 10
  elif df_adult.loc[a , 'education'] == 'HS-grad' :
       df_adult.loc[a , 'education'] = 11
  elif df_adult.loc[a , 'education'] == 'Masters' :
       df_adult.loc[a , 'education'] = 12
  elif df_adult.loc[a , 'education'] == 'Preschool' :
       df_adult.loc[a , 'education'] = 13
  elif df_adult.loc[a , 'education'] == 'Prof-school' :
       df_adult.loc[a , 'education'] = 14
  elif df_adult.loc[a , 'education'] == 'Some-college' :
       df_adult.loc[a , 'education'] = 15
  elif df_adult.loc[a , 'education'] == '?' :
       df_adult.loc[a , 'education'] = 16

In [16]:
for a in df_adult.index:
  if df_adult.loc[a , 'gender'] == 'Female' :
     df_adult.loc[a , 'gender'] = 0
  elif df_adult.loc[a , 'gender'] == 'Male' :
       df_adult.loc[a , 'gender'] = 1
  elif df_adult.loc[a , 'gender'] == '?' :
       df_adult.loc[a , 'gender'] = 2

In [17]:
for a in df_adult.index:
  if df_adult.loc[a , 'relationship'] == 'Husband' :
     df_adult.loc[a , 'relationship'] = 0
  elif df_adult.loc[a , 'relationship'] == 'Not-in-family' :
       df_adult.loc[a , 'relationship'] = 1
  elif df_adult.loc[a , 'relationship'] == 'Other-relative' :
       df_adult.loc[a , 'relationship'] = 2
  elif df_adult.loc[a , 'relationship'] == 'Own-child' :
       df_adult.loc[a , 'relationship'] = 3
  elif df_adult.loc[a , 'relationship'] == 'Unmarried' :
       df_adult.loc[a , 'relationship'] = 4
  elif df_adult.loc[a , 'relationship'] == 'Wife' :
       df_adult.loc[a , 'relationship'] = 5
  elif df_adult.loc[a , 'relationship'] == '?' :
       df_adult.loc[a , 'relationship'] = 6

In [18]:
for a in df_adult.index:
  if df_adult.loc[a , 'occupation'] == 'Adm-clerical' :
     df_adult.loc[a , 'occupation'] = 0
  elif df_adult.loc[a , 'occupation'] == 'Armed-Forces' :
       df_adult.loc[a , 'occupation'] = 1
  elif df_adult.loc[a , 'occupation'] == 'Craft-repair' :
       df_adult.loc[a , 'occupation'] = 2
  elif df_adult.loc[a , 'occupation'] == 'Exec-managerial' :
       df_adult.loc[a , 'occupation'] = 3
  elif df_adult.loc[a , 'occupation'] == 'Farming-fishing' :
       df_adult.loc[a , 'occupation'] = 4
  elif df_adult.loc[a , 'occupation'] == 'Handlers-cleaners' :
       df_adult.loc[a , 'occupation'] = 5
  elif df_adult.loc[a , 'occupation'] == 'Machine-op-inspct' :
       df_adult.loc[a , 'occupation'] = 6
  elif df_adult.loc[a , 'occupation'] == 'Other-service' :
       df_adult.loc[a , 'occupation'] = 7
  elif df_adult.loc[a , 'occupation'] == 'Priv-house-serv' :
       df_adult.loc[a , 'occupation'] = 8
  elif df_adult.loc[a , 'occupation'] == 'Prof-specialty' :
       df_adult.loc[a , 'occupation'] = 9
  elif df_adult.loc[a , 'occupation'] == 'Protective-serv' :
       df_adult.loc[a , 'occupation'] = 10
  elif df_adult.loc[a , 'occupation'] == 'Sales' :
       df_adult.loc[a , 'occupation'] = 11
  elif df_adult.loc[a , 'occupation'] == 'Tech-support' :
       df_adult.loc[a , 'occupation'] = 12
  elif df_adult.loc[a , 'occupation'] == 'Transport-moving' :
       df_adult.loc[a , 'occupation'] = 13
  elif df_adult.loc[a , 'occupation'] == '?' :
       df_adult.loc[a , 'occupation'] = 14

In [19]:
for a in df_adult.index:
  if df_adult.loc[a , 'marital-status'] == 'Divorced' :
     df_adult.loc[a , 'marital-status'] = 0
  elif df_adult.loc[a , 'marital-status'] == 'Married-AF-spouse' :
       df_adult.loc[a , 'marital-status'] = 1
  elif df_adult.loc[a , 'marital-status'] == 'Married-civ-spouse' :
       df_adult.loc[a , 'marital-status'] = 2
  elif df_adult.loc[a , 'marital-status'] == 'Married-spouse-absent' :
       df_adult.loc[a , 'marital-status'] = 3
  elif df_adult.loc[a , 'marital-status'] == 'Never-married' :
       df_adult.loc[a , 'marital-status'] = 4
  elif df_adult.loc[a , 'marital-status'] == 'Separated' :
       df_adult.loc[a , 'marital-status'] = 5
  elif df_adult.loc[a , 'marital-status'] == 'Widowed' :
       df_adult.loc[a , 'marital-status'] = 6
  elif df_adult.loc[a , 'marital-status'] == '?' :
       df_adult.loc[a , 'marital-status'] = 7

In [20]:
for a in df_adult.index:
  if df_adult.loc[a , 'workclass'] == 'Federal-gov' :
     df_adult.loc[a , 'workclass'] = 0
  elif df_adult.loc[a , 'workclass'] == 'Local-gov' :
       df_adult.loc[a , 'workclass'] = 1
  elif df_adult.loc[a , 'workclass'] == 'Never-worked' :
       df_adult.loc[a , 'workclass'] = 2
  elif df_adult.loc[a , 'workclass'] == 'Private' :
       df_adult.loc[a , 'workclass'] = 3
  elif df_adult.loc[a , 'workclass'] == 'Self-emp-inc' :
       df_adult.loc[a , 'workclass'] = 4
  elif df_adult.loc[a , 'workclass'] == 'Self-emp-not-inc' :
       df_adult.loc[a , 'workclass'] = 5
  elif df_adult.loc[a , 'workclass'] == 'State-gov' :
       df_adult.loc[a , 'workclass'] = 6
  elif df_adult.loc[a , 'workclass'] == 'Without-pay' :
       df_adult.loc[a , 'workclass'] = 7
  elif df_adult.loc[a , 'workclass'] == '?' :
       df_adult.loc[a , 'workclass'] = 8

In [40]:
df_adult.head(3)

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40              39  <=50K
1   38    Private   89814  ...             50              39  <=50K
2   28  Local-gov  336951  ...             40              39   >50K

[3 rows x 15 columns]

In [22]:
inputs = df_adult.drop(['income','race','gender','relationship','marital-status','education','fnlwgt',
                        'native-country'],axis='columns')
target = df_adult.income
inputs.head(3)

   age workclass  educational-num  ... capital-gain  capital-loss  hours-per-week
0   25         3                7  ...            0             0              40
1   38         3                9  ...            0             0              50
2   28         1               12  ...            0             0              40

[3 rows x 7 columns]

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target,test_size=0.3,random_state=100)

In [44]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.28103460042312156

In [ ]:
X_test[0:10]

In [46]:
y_test[0:10]

12393     >50K
48701    <=50K
17918    <=50K
11352    <=50K
36198    <=50K
14102    <=50K
41731    <=50K
23995     >50K
36248    <=50K
12244    <=50K
Name: income, dtype: object

In [47]:
model.predict(X_test[0:10])

array(['>50K', '>50K', '>50K', '>50K', '>50K', '>50K', '>50K', '>50K',
       '>50K', '>50K'], dtype='<U5')

In [48]:
model.predict_proba(X_test[:10])

array([[4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01],
       [4.67336057e-06, 9.99995327e-01]])